<ion-navbar padding-vertical color="bees">

    <ion-buttons left>
      <button
        ion-button 
        icon-only
        menuToggle 
        large>
        <ion-icon [ngStyle]="{ 'font-size': headerSize }" name="happy"></ion-icon>
      </button>
    </ion-buttons>
  
  
    <ion-label padding-left (click)="(appUser$  && appUser$.isAdmin === true) ? onShowAdminOptions() : ''">
      {{ (appUser$ === null || (appUser$ !== null && currentPage !== 'HomePage')) ? 'My Beesbox' : appUser$.name }}
    </ion-label>
  
    <ion-buttons right>
      <button 
        padding-right
        ion-button 
        icon-only 
        clear
        (click)="onShowCart()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge item-end>0</ion-badge>
      </button>
    </ion-buttons>
  
  </ion-navbar>