
<ion-header>

  <nav-bar>

  </nav-bar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header text-center>
        <ng-container *ngIf="appUser$?.name; else anon">
          {{ appUser$.name }}'s cart
        </ng-container>
        <ng-template #anon>
          Welcome, anonymous user
        </ng-template>
    </ion-list-header>
    
    <ng-container *ngIf="!cart?.length; else showCart">
        <ion-item text-center>
          Cart is empty!
        </ion-item>
      
    </ng-container>

    <ng-template #showCart>
        <ion-item *ngFor="let item of cart; let i = index">
            <h2>{{ item.product.name }}</h2>
            <p>{{ item.itemPrice | currency:'USD':'symbol' }}</p>
            <ion-note item-left>{{ item.quantity }}</ion-note>
            <button 
              ion-fab 
              mini
              item-right 
              icon-only
              color="danger"
              (click)="removeFromCart(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
    </ng-template>
  </ion-list>
</ion-content>

<ion-footer ion-row>
  <button
    (click)="onClearCart()" 
    [disabled]="!cart?.length" 
    color="danger" 
    ion-button 
    full 
    block 
    ion-col 
    col-6>
    Clear cart
  </button>

  <button 
    ion-button
    [disabled]="!cart?.length" 
    full 
    block 
    ion-col 
    col-6>
    Checkout
  </button>
</ion-footer>
