<ion-header no-border>

  <nav-bar></nav-bar>  

</ion-header>


<ion-content padding>

  <button 
    ion-item
    *ngIf="appUser$ !== null" 
    full 
    block 
    (click)="onShowCartPage()">
    <ion-icon name="cart" item-left></ion-icon>View cart
  </button>
  <button 
    ion-item 
    *ngIf="appUser$ !== null"
    full 
    block 
    (click)="onShowOrdersPage()">
    <ion-icon name="pricetags" item-left></ion-icon>View my orders
  </button>

  <button 
    ion-button 
    large 
    block 
    full 
    *ngIf="appUser$ !== null && newSettings == null"
    (click)="onShowQuizPage()">
    Begin Personalized Quiz
  </button>

  <ion-item 
    *ngIf="appUser$ === null" 
    no-lines 
    text-center>
    You are not logged in
  </ion-item>

  <ion-list *ngIf="appUser$ !== null && newSettings !== null">
    <ion-item *ngFor="let opt of newSettings">
      {{ opt }}
    </ion-item>
  </ion-list>

</ion-content>
